{
    "name": "@aivot/{{packageName}}",
    "version": "1.1.2",
    "description": "Material Symbols for Material UI with weight {{weight}}, grade {{grade}} and style {{style}}",
    "repository": {
        "type": "git",
        "url": "https://github.com/aivot-digital/mui-material-symbols"
    },
    "exports": {
        "./package.json": "./package.json",
        "./*": {
            "types": "./dist/*.d.ts",
            "import": "./dist/*.js",
            "require": "./dist/*.js",
            "default": "./dist/*.js"
        }
    },
    "typesVersions": {
        "*": {
            "package.json": [
                "package.json"
            ],
            "*": [
                "dist/*"
            ]
        }
    },
    "sideEffects": false,
    "files": [
        "dist/*.js",
        "dist/*.d.ts"
    ],
    "scripts": {
        "prepare": "npm run build",
        "build": "tsc"
    },
    "keywords": [
        "react",
        "react-component",
        "mui",
        "material-ui",
        "material design",
        "material icons",
        "material symbols"
    ],
    "author": "Aivot",
    "license": "MIT",
    "type": "commonjs",
    "devDependencies": {
        "@mui/material": "^7.3.2",
        "@types/react": "^19.1.12",
        "@types/node": "^24.3.1",
        "react": "^19.1.1",
        "typescript": "^5.9.2"
    },
    "peerDependencies": {
        "@types/react": "^17.0.0 || ^18.0.0 || ^19.0.0",
        "react": "^17.0.0 || ^18.0.0 || ^19.0.0",
        "@mui/material": "^7.3.2"
    },
    "peerDependenciesMeta": {
        "@types/react": {
            "optional": true
        }
    }
}
