# MUI Material Symbols

This package contains the [Material Symbols](https://fonts.google.com/icons) with the weight **{{weight}}** in the style **{{style}}** for [Material UI](https://mui.com/material-ui).
It is based on the [MUI Material Symbols](https://github.com/aivot-digital/mui-material-symbols) repository.

## Getting Started

Install this package via npm:

```bash
npm install @aivot/mui-material-symbols-{{weight}}-{{style}}
```

## Usage

Use these symbols like any other Material UI icon:

```tsx
import SpaSymbol from '@aivot/mui-material-symbols-{{weight}}-{{style}}/dist/spa/Spa';
import SpaFilledSymbol from '@aivot/mui-material-symbols-{{weight}}-{{style}}/dist/spa/SpaFilled';

function MyComponent() {
  return (
    <div>
      <SpaSymbol />
      <SpaFilledSymbol />
    </div>
  );
}
```