import React from 'react';
import {createSvgIcon} from '@mui/material';

const {{symbolComponentName}} = createSvgIcon(
    <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            fill="currentColor"
            stroke="currentColor"
    >
        {{{originalContent}}}
    </svg>,
    '{{symbolComponentName}}'
);

export default {{symbolComponentName}};
