import React from 'react';
import {createSvgIcon} from '@mui/material';

const {{symbolComponentName}} = createSvgIcon(
    {{{originalContent}}},
    '{{symbolComponentName}}'
);

export default {{symbolComponentName}};
