import React from 'react';
import SvgIcon, {type SvgIconProps} from '@mui/material/SvgIcon';

{{! Keep the explicit SvgIcon wrapper for Material Symbols' 960 viewBox, then expose MUI's SvgIcon type for consumer compatibility. }}
const {{symbolComponentName}}Component = React.forwardRef<SVGSVGElement, SvgIconProps>(function {{symbolComponentName}}(props, ref) {
    return (
        <SvgIcon
                {...props}
                ref={ref}
                viewBox="0 -960 960 960"
        >
        {{{originalContent}}}
        </SvgIcon>
    );
});

{{symbolComponentName}}Component.displayName = '{{symbolComponentName}}';

const {{symbolComponentName}} = {{symbolComponentName}}Component as unknown as typeof SvgIcon;
{{symbolComponentName}}.muiName = SvgIcon.muiName;

export default {{symbolComponentName}};
