{
    "compilerOptions": {
        "rootDir": "./src",
        "outDir": "./dist",
        "moduleResolution": "node",
        "module": "esnext",
        "target": "es5",
        "declaration": true,
        "allowSyntheticDefaultImports": true,
        "strict": true,
        "jsx": "react-jsx",
    },
    "include": ["src"]
}
