{
    "compilerOptions": {
        "rootDir": "./src",
        "outDir": "./dist",
        "moduleResolution": "node16",
        "module": "Node16",
        "target": "es2019",
        "declaration": true,
        "incremental": true,
        "tsBuildInfoFile": "./.tsbuildinfo",
        "esModuleInterop": true,
        "allowSyntheticDefaultImports": true,
        "skipLibCheck": true,
        "strict": true,
        "jsx": "react-jsx"
    },
    "include": ["src"]
}
